<div class="center-align">
    <form [formGroup]="travelForm" (onSubmit)="onsubmit()">
        <div>
            <label for="origin">Departure Address</label>
            <div>
                <label for="road">Road</label>
                <input id="road" type="text" formControlName="OriginRoad" />
                <label for="number">Number</label>
                <input id="number" type="text" formControlName="OriginNumber" />
                <label for="city">City</label>
                <input id="city" type="text" formControlName="OriginCity" />
                <label for="zip">Zipcode</label>
                <input id="zip" type="text" formControlName="OriginZipcode" />
                <label for="country">Country</label>
                <input id="country" type="text" formControlName="OriginCountry" />
            </div>
        </div>
        <div>
            <label for="destination">Destination Address</label>
            <div>
                <label for="road">Road</label>
                <input id="road" type="text" formControlName="DestinationRoad" />
                <label for="number">Number</label>
                <input id="number" type="text" formControlName="DestinationNumber" />
                <label for="city">City</label>
                <input id="city" type="text" formControlName="DestinationCity" />
                <label for="zip">Zipcode</label>
                <input id="zip" type="text" formControlName="DestinationZipcode" />
                <label for="country">Country</label>
                <input id="country" type="text" formControlName="DestinationCountry" />
            </div>
        </div>
        <div>
            <label>Departure Time</label>
            <input type="text" formControlName="Date" class="uib-datepicker-popup" />
        </div>
        <div>
            <label>Time of departure</label>
            <input type="text" formControlName="Time" class="picker--time" />
        </div>
        <div>
            <input id="escales" type="checkbox" formControlName="Escales"/>
            <label for="escales">Escales</label>
        </div>
        <div>
            <label>Places</label>
            <input type="number" min="0" max="9" formControlName="Places"/>
        </div>
        <input type="submit" class="btn-large pink darken-1" value="Add travel!" (click)="onsubmit()"/>
    </form>
</div>