<div *ngIf='travels && travels.length==0' class="alert alert-info" role="alert">No record found!</div>
<table class='highlight responsive-table' *ngIf='travels && travels.length'>
    <thead>
        <tr>
            <th>Driver</th>
            <th>Origin</th>
            <th>Destination</th>
            <th></th>
            <th>Departure</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let travel of travels">
            <!-- Driver -->
            <td>{{travel.Driver.Username}}</td>
            <!-- Origin -->
            <td>{{travel.Origin.Locality}}, {{travel.Origin.Country}}</td>
            <!-- Destination -->
            <td>{{travel.Destination.Locality}}, {{travel.Destination.Country}}<td>
            <!-- Departure -->
            <td>{{travel.Departure}}</td>
            <!-- Edit -->
            <td>
                <a class="btn-floating btn-large waves-effect waves-light blue" (click)="editTravel(travel.Id)"><i class="large material-icons">edit</i></a>
            </td>
            <!-- Delete -->
            <td>
                <a class="btn-floating btn-large waves-effect waves-light red" (click)="deleteTravel(travel.Id)"><i class="large material-icons">delete</i></a>
            </td>
        </tr>
    </tbody>
</table>
<a class="z-depth-0 btn-large waves-effect waves-light green" [routerLink]="['add']"><i class="large material-icons right">add</i>Add a travel</a>
<div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{msg}}
</div>
<!--<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(userFrm)" [formGroup]="userFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>
            <div class="form-group">
                <div>
                    <span>Username</span>
                    <input type="text" class="form-control" placeholder="Username" formControlName="Username">
                </div>
                <div>
                    <span>Password</span>
                    <input type="text" class="form-control" placeholder="Password" formControlName="Password">
                </div>
                <div>
                    <span>First Name</span>
                    <input type="text" class="form-control" placeholder="First Name" formControlName="FirstName">
                </div>
                <div>
                    <span>Last Name</span>
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="LastName">
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                <button type="submit" [disabled]="userFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>-->