<div *ngIf='users && users.length==0' class="alert alert-info" role="alert">No record found!</div>
<div *ngIf="indLoading; else elseblock"><loader></loader></div>
<ng-template #elseblock class="center-align">
    <table class='highlight responsive-table' *ngIf='users && users.length'>
        <thead>
            <tr>
                <th>Username</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.Username}}</td>
                <td>{{user.Rating}}</td>
            </tr>
        </tbody>
    </table>
    <a class="z-depth-0 btn-large waves-effect waves-light green" (click)="addUser()"><i class="large material-icons right">add</i>Add a user</a>
    <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{msg}}
    </div>
</ng-template>