<navbar-def *ngIf="!logged"></navbar-def>
<user-navbar *ngIf="logged && !asAdmin"></user-navbar>
<!--<admin-navbar></admin-navbar>-->

<div class="col s12">
    <router-outlet></router-outlet>
</div>

<footer class="page-footer light-blue accent-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Travel Angular</h5>
                <p class="grey-text text-lighten-4">Ce projet a été réalisé dans le cadre des cours "Technologies Internet", "Analyse et conduite de projet", et "Projet", dispensés par Messieurs P.Mercier et O.Palermo.
                Ces cours sont donnés à l'attention des étudiants de 3e année de Bachelier en Informatique de gestion (Catégorie Economique) de la Haute Ecole de Louvain en Hainaut - Campus Mons.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Site réalisé avec</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://materializecss.com/about.html" target="_blank"> Materialize CSS </a></li>
                    <li><a class="grey-text text-lighten-3" href="http://getbootstrap.com/" target="_blank"> Bootstrap </a></li>
                    <li><a class="grey-text text-lighten-3" href="https://angular.io/" target="_blank"> Angular 2 </a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.asp.net/" target="_blank"> ASP.NET </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright Simon De Greve
            <a class="grey-text text-lighten-4 right" href="https://github.com/Yoiro"> Autres projets </a>
        </div>
    </div>
</footer>